* {
    padding: 0;
    margin: 0;

}
/*selector id*/
#contenedor {
    width: 900px;
    height: 1000px;
    background-color:bisque;
    max-width: 0 auto;

}
#encabezado {
    height: 15%;
    background-color: rgb(230,200,149);
    margin: 1em auto;

}
#menu {
    height: 5%;
    background-color: rgb(171,161,134);
    margin: 1em auto;

}
#contenido {
    height: 64%;
    width: 60%;
    background-color:  rgb(151,158,54);
    margin: 0.5em;
    float: left;

}
#fueraSeccion {
    height: 64%;
    width: 36%;
    background-color: rgb(190,193,79);
    margin: 0.5em;
    float: right;

}
#pie {
    height: 15%;
    width: 100%;
    background-color: rgb(230,200,149);
    border-radius: 0.5em;
    margin: auto;
    float: left;
}
 /*Selector de class*/

 .texto {
    text-align: justify;
    font-family: tohoma;
    font-size: medium;
 }
 .encabezado_primavera {
    text-align: center;
    background: #333;
    color: white;
    margin: auto ;
 }
 .mas_info {
    text-align: center;
    background: #333;
    color: white;
    margin: auto ;
 }
 .imagen {
    /*display: block;*/
    /*border: 1px solid #ddd;*/
    margin-left: 5px;
    /*border-radius: 4px;*/
    padding: 25px;
    width: 120px;
    height: 120px;
 }
 /*Selector de Etiqueta html*/
 ul {
    text-align: center;

 }
 li {
    display: inline;
    padding-left: 6px;
    padding-right: 6px;
    text-align: center;
 }
 